*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html{
    font-size: 62.5%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}
/* #######utility classes########## */
.container{
   max-width: 1200px;
   width:90%;
    margin: auto;
}
.btn{
    color: aliceblue;
    display: inline-block;
    padding: 1.2rem;
    border-radius: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.3rem;
    cursor: pointer;
}
.btn2{
    display: block;
    padding: .5rem;
    border-radius: 10px;
    color: aliceblue;
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: uppercase;
}
.btn-primary{
    background-color: green;
}

/* ########   navbar styling  ####### */
header .logo{
    color: green;
    margin: 5px 10px ;
    font-size: 3rem;
}
.navbar-container{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    /* background-color: aqua; */
   

}
.navbar{
    box-shadow: 0 2px 2px  rgba(0,0,0,.2 );
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: antiquewhite;
    opacity: .8;
}

.nav-items{
    display: flex;
    
}
.nav-items li {
    list-style: none;
    text-decoration: none;
    margin: 1.6em 1em;


}
.nav-items a{
    text-decoration: none;
    padding: .5rem .5rem;
    background-color: green;
    border-radius: 5px;
    color: aliceblue;
    font-size: 1.5rem;

}
.nav-items a:hover{
    color: green;
    background-color: aliceblue;
}


/* ####### showcase styling ####### */
.showcase-container{
    background:linear-gradient(rgba(255, 255, 255, 0.26),rgba(244, 244, 244, 0.253)),url(./img/pexels-ella-olsson-1640777.jpg);
    height: 50vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display:flex;
    align-items: center;
    justify-content: center;flex-direction: column;
    text-align: center;
}
.showcase-header{
    text-transform: uppercase;
    font-weight: 800;
    color: green;
    font-size: 2.5rem;
}
.showcase-container p{
    font-size: 1.6rem;
}
.showcase-header a{
    font-weight: 600;
}
.showcase-container .btn{
    margin-top: 1em;
}
/* ####### about styling ####### */
.about-container{
    display: flex;
    padding: 2rem;
  
}
.about-text p{
    font-size: 1.5rem;
    margin: 1em 0em;
    text-align: left;
}
.small{
    font-weight: 600;
}
.about-text h2{
    font-size: 2rem;

}

.about-text{
    flex: 1 1 500px;
    margin: auto;
    padding: 1em;
    transform: translate(-300px);
    animation: about-text-animation 1s ease-in-out;
    animation-fill-mode: forwards;

}
@keyframes  about-text-animation{
    100%{
        transform:translate(0)
    }
    
}
.about-img img{
    width: 100%;
    height: 300px;
    object-fit: cover;

}

.about-img{
    flex: 1 1 400px;
    padding: 1em;
    transform: translate(300px);
    animation: about-img-animation 1s ease-in-out;
    animation-fill-mode: forwards;
}
@keyframes  about-img-animation{
    100%{
        transform:translate(0)
    }
}    
/* ###### Food container styling ######*/
#food .food-title{
    margin: auto;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;

}
.food-type{
    display: flex;
   
}
.food-type{
    display: flex;
    justify-content: center;
}
.img-box{
    width: 300px;
    margin: 1rem;
    position: relative;
  
}
.img-box::after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(0,0,0,.600);
    z-index: 1;
    opacity: 0;
    transition: all .3s ease-in-out;
}
.img-box:hover::after{
    opacity:1;
}

.img-box .img-content{
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%,-50%);
    opacity: 0;
    text-align: center;
    z-index: 2;
    color: aliceblue;
    transition: all .3s ease-in-out;
}
.img-content h2{
    margin-bottom: 1em;
    text-transform: uppercase;
}
.img-box:hover .img-content{
   opacity:1;
   left: 50%;
}
.img-box img{
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
}
/* ######### food menu styling ######### */
.food-menu-heading{
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
    padding: 1em;
  
}
.food-menu-container{
    display: flex;
    flex-wrap: wrap;
    padding: 20px ;
    justify-content: center;
    align-items: center;
}
.food-menu-box img{
    display: block;
    width: 200px;
    height: 200px ;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;

}
.food-menu-box{
    display: flex;
    flex: 1 1 400px;
    margin-bottom: 1em; 
  
}
.food-description{
    margin: auto;
    padding: 1em;
}
/* ######## testimonial styling ############ */
.testimonial-header{
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}
.testimonial-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}
.testimonial-box{
    text-align: center;
    padding: 1rem;
}
.star-rating{
    padding: 1rem;
    
}
.tesimonial-text{
    text-align: center;
    padding: 2rem;

}
.customer-img-box {
    margin: auto;
}
.customer-img-box img{
    display: block;
    object-fit: cover;
    object-position: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 1rem;
    margin: auto;

}
.testimonial-box .checked{
    color: goldenrod;

}
.customer-name{
    text-align: center;
    font-weight: 700;
  
}
/* ########## contact us styling################# */
.contact-container{
    display: flex; 
    padding: 2rem;
    justify-content: center;
}
.contact-us-header{
    text-align: start;
   
}
 .form-container{
    width: 50%;
    padding: 1rem;
}
 .form-container input{
  display: block;
  padding: 1rem 0;
  margin: 1rem 0;
  width: 500px;
  border: none;
  border-bottom: 2px solid black;
  width: 100%;
  margin-bottom: 1rem;

   
}
.form-container textarea{
    width: 100%;
    border: none;
    border-bottom: 2px solid black;
    margin-bottom: 1rem;
} 
 .contact-img {
    width: 50%;
    height: 100%;

}
.contact-img img{
    width: 100%;
} 
/* ######### Footer section styling############# */

#footer h2{
    text-align: center;
    font-size: 1.2rem;
    padding: 2em;
    font-weight: 500;
    background: green;
}

